{{ field }}
<div class="stock-wrapper">
    <!--    <img class="utp__pic" src="/image/catalog/dreampoint/utp_pic.png" alt="">-->
    <div class="stock__title">Наши акции и спецпредложения</div>
    <div class="stock-box">
        <img src="/image/catalog/dreampoint/stock.png" alt="">
        <div class="stock-data">
            <div class="stock__caption">- 50 %</div>
            <div class="stock__text">до конца этой недели</div>
        </div>
    </div>
</div>

