{{ field }}
<div class="utp-wrapper">
    <!--    <img class="utp__pic" src="/image/catalog/dreampoint/utp_pic.png" alt="">-->
    <div class="utp__data">
        <img src="/image/catalog/dreampoint/logo.jpg" alt="" class="utp__img">
        <div class="utp__title">Топовые матрасы России</div>
        <div class="utp__text">Здоровый сон покупают здесь</div>
    </div>
</div>

<div class="bullets">
<!--    <div class="bullets__logo">-->
        <img class="bullets__logo" src="/image/catalog/dreampoint/logo.jpg" alt="">
<!--    </div>-->
    <div class="bullets-wrapper">
        <div class="bullets__item"><img src="/image/catalog/dreampoint/bullet1.jpg" alt="" class="bullets__img">
            <div class="bullets__text">Профессиональные
                консультации и подбор
                матраса</div>
        </div>
        <div class="bullets__item"><img src="/image/catalog/dreampoint/bullet2.jpg" alt="" class="bullets__img">
            <div class="bullets__text">Эксклюзивные
                предложения</div>
        </div>
        <div class="bullets__item"><img src="/image/catalog/dreampoint/bullet3.jpg" alt="" class="bullets__img">
            <div class="bullets__text">Доставка и
                сервис</div>
        </div>
        <div class="bullets__item"><img src="/image/catalog/dreampoint/bullet4.jpg" alt="" class="bullets__img">
            <div class="bullets__text">Акции и
                спецпредложения</div>
        </div>
        <div class="bullets__item"><img src="/image/catalog/dreampoint/bullet5.jpg" alt="" class="bullets__img">
            <div class="bullets__text">То, что нужно</div>
        </div>
    </div>
</div>

<div class="get">
<div class="get__title">Выбирая <span>Mirtolli Luxury</span> вы гарантированно
    получаете</div>
    <div class="get__pic">
        <div class="get__text get__text_1">УНИКАЛЬНАЯ ОБРАБОТКА<br>НАНОСЕРЕБРОМ ПО ТЕХНОЛОГИЯМ<br>SAP NANOPROTECTION</div>
        <div class="get__text get__text_2">ПАКЕТ ГЛУБОКОЙ<br>СТЕЖКИ ROYAL</div>
        <div class="get__text get__text_3">Высокое качество<br> ткани</div>
        <div class="get__text get__text_4">ОРТОПЕДИЧЕСКИЙ<br>И АНАТОМИЧЕСКИЙ<br>ЭФФЕКТЫ</div>
    </div>
    <div class="get__pic_mobil">
        <div class="get__pic-item">
            <img src="/image/catalog/dreampoint/get_item1.png" alt="">
            <div class="get__pic-text">УНИКАЛЬНАЯ ОБРАБОТКА НАНОСЕРЕБРОМ ПО ТЕХНОЛОГИЯМ SAP NANOPROTECTION</div>
        </div>
        <div class="get__pic-item">
            <img src="/image/catalog/dreampoint/get_item2.png" alt="">
            <div class="get__pic-text">ПАКЕТ ГЛУБОКОЙ<br>СТЕЖКИ ROYAL</div>
        </div>
        <div class="get__pic-item">
            <img src="/image/catalog/dreampoint/get_item3.png" alt="">
            <div class="get__pic-text">ВЫСОКОЕ КАЧЕСТВО ТКАНИ</div>
        </div>
        <div class="get__pic-item">
            <img src="/image/catalog/dreampoint/get_item4.png" alt="">
            <div class="get__pic-text">ОРТОПЕДИЧЕСКИЙ И АНАТОМИЧЕСКИЙ ЭФФЕКТЫ</div>
        </div>
    </div>
</div>